body {
  font-family: "Helvetica";
  background-color: #f2f1f6;
  color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  box-sizing: border-box;
  margin: 40px 0 20px 0;
  display: flex;

  width: 320px;
  column-gap: 20px;
  row-gap: 10px;
  border-radius: 20px;
  padding: 20px;
  background-color: #ffffff;
}

.header__textContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__avatar {
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

.header__title {
  margin: 0;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2;
  font-family: "Helvetica Neue";
  align-items: center;
}

.header__subtitle {
  color: #7d7d7f;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  margin: 0;
}

.links {
  width: 320px;
  margin-bottom: 20px;
}

.links__header {
  font-size: 24px;
  line-height: 1.4;
  margin: 0 0 15px 0;
  font-family: "Helvetica Neue";
}

.links__container {
  list-style-type: none;
  background: #ffffff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 20px 10px;
  gap: 10px;
  flex: none;
  order: 1;
  flex-grow: 0;
  box-sizing: border-box;
  margin: 0;
}

.links__link,
.links__title {
  font-size: 14px;
  font-size: 1.4;
}

.links__link {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px 0px 10px;
  gap: 30px;
  border-bottom: 1px solid #dedede;
  width: 280px;
}

.links__link:last-child {
  border-bottom: none;
}

.linsk__link,
.links__link:visited {
  text-decoration: none;
  color: #0c79ff;
}

.links__title {
  margin: 0;
  min-width: 100px;
}

footer {
  margin: 0 0 40px 0;
}
.button-link {
  margin-top: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 320px;
  background: #ffffff;
  border-radius: 10px;

  font-size: 14px;
  line-height: 1.4;

  color: #0c79ff;
  text-decoration: none;
}

button {
  border: 0;
}

